{{ define "main" }}
<article class="pa3 pa4-ns nested-copy-line-height">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy nested-links {{ $.Param " text_color" |
        default "mid-gray" }}">
        <h3>Stories are posts that are grouped by tags. Click on a tag below for a list of stories with that tag.</h3>
    </section>

    <section class="mw9 center pa3 pa4-ns">
        <div class="flex flex-wrap items-center justify-center mb5">
            {{ range .Data.Terms.ByCount }}
            <a href="{{ .Page.RelPermalink }}" class="tag-link dib ba bw2 b--near-black br-pill ph5 pv3 near-black f5 no-underline 
                          hover-bg-near-white hover-b--black-80 transition-all mr3 mb3">
                {{ .Page.Title }}
                <span class="tag-count ml2 gray">({{ .Count }})</span>
            </a>
            {{ end }}
        </div>
    </section>
</article>
{{ end }}